<footer class="footer">
    <div class="footer-container-background">
        <div class="container footer-container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h3>RENEW-POLSKA</h3>
                    <p>Oficjalny i wyłączny dystrybutor profesjonalnych kosmetyków RENEW (Izrael)</p>
                    <p>Oficjalny dystrybutor urządzenia kosmetycznego Alvi-Prague (Czechy)</p>
{#                    <p>w Polsce</p>#}
                </div>
                <div class="col-lg-3 text-center">
                    <h3>Kontakt</h3>
{#                    <p><i class="fas fa-mobile"></i> +48 574 601 733</p>#}
                    <p><i class="fas fa-mobile"></i> +48 574 012 745</p>
                    <p><i class="fas fa-envelope"></i> biuro@renew-polska.pl</p>
                </div>
                <div class="col-lg-3 text-center">
                    <h3>Social</h3>
                    <div class="col-lg-6 text-center">
                         <a target="_blank" href="https://www.facebook.com/renew.polska">
                            <i class="fab fa-facebook-square social-facebook-1">
                            </i>
                         </a>
                        <p>RENEW</p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a target="_blank" href="https://www.facebook.com/polska.alviprague/">
                            <i class="fab fa-facebook-square social-facebook-2">
                            </i>
                        </a>
                        <p>ALVI</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 footer-credits">
                    <p><i class="fas fa-copyright"></i> 2018 Renew-Polska</p>
                </div>

            </div>
        </div>
    </div>
</footer>