<footer class="footer">
    <div class="footer-container-background">
        <div class="container footer-container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h3>Renew-Polska</h3>
                    <p>oficjalny wyłączny przedstawiciel</p>
                    <p>Renew (Izrael)</p>
                    <p>w Polsce</p>
                </div>
                <div class="col-lg-4 text-center">
                    <h3>Kontakt</h3>
                    <p><i class="fas fa-mobile"></i> +48 574 601 733</p>
                    <p><i class="fas fa-mobile"></i> +48 574 012 745</p>
                    <p><i class="fas fa-envelope"></i> buiro@renew-polska.pl</p>
                </div>
                <div class="col-lg-4 text-center">
                    <h3>Social</h3>
                    <a target="_blank" href="https://www.facebook.com/renew.polska">
                        <i class="fab fa-facebook-square social-facebook">
                        </i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 footer-credits">
                    <p><i class="fas fa-copyright"></i> 2018 Renew-Polska</p>
                </div>

            </div>
        </div>
    </div>
</footer>