{% load i18n %}

{% autoescape off %}

    Witamy {{ newuser.username }},
    Twoje konto  zostało utworzone na stronie www.renew-polska.pl
    Żeby aktywować konto, przejdź za posyłaniem i wypełnij dodatkowe informację
    http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

    Pozdrawiamy,
    RENEW-POLSKA Sp. z o. o.
    Oficjalny dystrybutor profesjonalnych kosmetyków RENEW (Izrael)
    Oficjalny dystrybutor urządzenia kosmetycznego Alvi-Prague (Czechy)
    Warszawa, ul.Lektykarska 26
    tel.:+48 574 012 745

{% endautoescape %}

{#{% autoescape off %}#}
{#{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.#}
{#{% endblocktrans %}#}
{##}
{#{% trans "Please go to the following page and choose a new password:" %}#}
{#{% block reset_link %}#}
{#{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}#}
{#{% endblock %}#}
{#{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}#}
{##}
{#{% trans "Thanks for using our site!" %}#}
{##}
{#{% blocktrans %}The {{ site_name }} team{% endblocktrans %}#}
{##}
{#{% endautoescape %}#}
